n8n/workflows/WF-003-receipt-analysis.json
{
  "name": "WF-003 Receipt Analysis",
  "nodes": [
    {
      "id": "n_webhook",
      "name": "Receipt Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wf003-receipt-handler",
      "parameters": {
        "httpMethod": "POST",
        "path": "wf003-receipt",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n_respond_200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [470, 180],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "responseCode": 200,
        "options": {}
      }
    },
    {
      "id": "n_extract_payload",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nreturn [{ json: { ...body } }];"
      }
    },
    {
      "id": "n_get_media_url",
      "name": "Get Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.media_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.firm_wa_access_token }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n_merge_media",
      "name": "Merge Media URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300],
      "parameters": {
        "jsCode": "const mediaUrl = $input.item.json.url;\nconst prev = $('Extract Payload').item.json;\nreturn [{ json: { ...prev, media_url: mediaUrl } }];"
      }
    },
    {
      "id": "n_get_draft_order",
      "name": "Get Pending Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1130, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "conversation_id", "value": "=eq.{{ $json.conversation_id }}"},
            {"name": "status", "value": "=eq.pending_payment"},
            {"name": "limit", "value": "1"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n_merge_order",
      "name": "Merge Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300],
      "parameters": {
        "jsCode": "const ordersRaw = $input.item.json;\nconst orders = Array.isArray(ordersRaw) ? ordersRaw : [ordersRaw];\nconst order = orders[0] || {};\nconst prev = $('Merge Media URL').item.json;\nreturn [{ json: { ...prev, order_id: order.id, order_number: order.order_number || order.id } }];"
      }
    },
    {
      "id": "n_analyze_receipt",
      "name": "Analyze Receipt GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 200,\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Bu görseli analiz et. Bir ödeme dekontu mu? Eğer evet: {\\\"is_receipt\\\": true, \\\"amount\\\": null, \\\"sender\\\": null, \\\"date\\\": null}. Değilse {\\\"is_receipt\\\": false}. Sadece JSON döndür.\"},\n    {\"role\": \"user\", \"content\": [{\"type\": \"image_url\", \"image_url\": {\"url\": {{ JSON.stringify($json.media_url) }}}}]}\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "n_parse_receipt_result",
      "name": "Parse Receipt Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300],
      "parameters": {
        "jsCode": "const prev = $('Merge Order Data').item.json;\nlet receiptData = { is_receipt: false };\ntry {\n  const raw = $input.item.json.choices?.[0]?.message?.content?.trim() || '{}';\n  const cleaned = raw.replace(/^```json\\s*/i, '').replace(/```\\s*$/, '').trim();\n  receiptData = JSON.parse(cleaned);\n} catch(e) {\n  receiptData = { is_receipt: false, parse_error: true };\n}\nreturn [{ json: { ...prev, receipt_data: receiptData, is_valid_receipt: receiptData.is_receipt === true } }];"
      }
    },
    {
      "id": "n_if_valid_receipt",
      "name": "Is Valid Receipt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2010, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.is_valid_receipt }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n_patch_order_payment_received",
      "name": "PATCH Order payment_received",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2230, 180],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "id", "value": "=eq.{{ $json.order_id }}"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"status\": \"payment_received\",\n  \"receipt_verified\": true,\n  \"payment_received_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "n_patch_conv_active",
      "name": "PATCH Conv active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2450, 180],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "id", "value": "=eq.{{ $('Parse Receipt Result').item.json.conversation_id }}"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"state\": \"active\"\n}",
        "options": {}
      }
    },
    {
      "id": "n_send_wa_payment_confirmed",
      "name": "Send WA Payment Confirmed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2670, 180],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Parse Receipt Result').item.json.firm_wa_phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $('Parse Receipt Result').item.json.firm_wa_access_token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse Receipt Result').item.json.customer_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"✅ Ödemenizi aldık! Siparişiniz hazırlanmaya başlandı.\\nSipariş No: {{ $('Parse Receipt Result').item.json.order_number }}\\n\\nHerhangi bir sorunuz için bizimle iletişime geçebilirsiniz 😊\" }\n}",
        "options": {}
      }
    },
    {
      "id": "n_notify_wf005_payment",
      "name": "Notify WF-005 Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2890, 180],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Receipt Result').item.json.wf005_webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"firm_id\": \"{{ $('Parse Receipt Result').item.json.firm_id }}\",\n  \"type\": \"payment_received\",\n  \"title\": \"💰 Ödeme alındı!\",\n  \"body\": \"Sipariş {{ $('Parse Receipt Result').item.json.order_number }} için ödeme onaylandı.\",\n  \"data\": {}\n}",
        "options": {}
      }
    },
    {
      "id": "n_send_wa_not_receipt",
      "name": "Send WA Not a Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2230, 420],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.firm_wa_phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.firm_wa_access_token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customer_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Üzgünüm, bu görsel bir ödeme dekontu gibi görünmüyor. 🤔\\nLütfen banka uygulamanızdan aldığınız dekont ekran görüntüsünü paylaşır mısınız?\" }\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Receipt Webhook": {
      "main": [
        [
          {"node": "Respond 200 OK", "type": "main", "index": 0},
          {"node": "Extract Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [{"node": "Get Media URL", "type": "main", "index": 0}]
      ]
    },
    "Get Media URL": {
      "main": [
        [{"node": "Merge Media URL", "type": "main", "index": 0}]
      ]
    },
    "Merge Media URL": {
      "main": [
        [{"node": "Get Pending Order", "type": "main", "index": 0}]
      ]
    },
    "Get Pending Order": {
      "main": [
        [{"node": "Merge Order Data", "type": "main", "index": 0}]
      ]
    },
    "Merge Order Data": {
      "main": [
        [{"node": "Analyze Receipt GPT-4o", "type": "main", "index": 0}]
      ]
    },
    "Analyze Receipt GPT-4o": {
      "main": [
        [{"node": "Parse Receipt Result", "type": "main", "index": 0}]
      ]
    },
    "Parse Receipt Result": {
      "main": [
        [{"node": "Is Valid Receipt?", "type": "main", "index": 0}]
      ]
    },
    "Is Valid Receipt?": {
      "main": [
        [{"node": "PATCH Order payment_received", "type": "main", "index": 0}],
        [{"node": "Send WA Not a Receipt", "type": "main", "index": 0}]
      ]
    },
    "PATCH Order payment_received": {
      "main": [
        [{"node": "PATCH Conv active", "type": "main", "index": 0}]
      ]
    },
    "PATCH Conv active": {
      "main": [
        [{"node": "Send WA Payment Confirmed", "type": "main", "index": 0}]
      ]
    },
    "Send WA Payment Confirmed": {
      "main": [
        [{"node": "Notify WF-005 Payment", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "wf-003",
  "meta": {
    "instanceId": "wf-003-receipt-analysis"
  }
}
