n8n/workflows/WF-005-firm-notifications.json
{
  "name": "WF-005 Firm Notifications",
  "nodes": [
    {
      "id": "n_webhook",
      "name": "Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wf005-notify-handler",
      "parameters": {
        "httpMethod": "POST",
        "path": "wf005-notify",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n_respond_200",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [470, 180],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "responseCode": 200,
        "options": {}
      }
    },
    {
      "id": "n_extract_payload",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300],
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nreturn [{ json: { ...body } }];"
      }
    },
    {
      "id": "n_save_notification",
      "name": "Save Notification to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=representation"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"firm_id\": \"{{ $json.firm_id }}\",\n  \"type\": \"{{ $json.type }}\",\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"body\": {{ JSON.stringify($json.body) }},\n  \"data\": {{ JSON.stringify($json.data || {}) }},\n  \"is_read\": false\n}",
        "options": {}
      }
    },
    {
      "id": "n_get_firm",
      "name": "Get Firm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/firms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "id", "value": "=eq.{{ $('Extract Payload').item.json.firm_id }}"},
            {"name": "select", "value": "whatsapp_phone,wa_phone_number_id,wa_access_token"},
            {"name": "limit", "value": "1"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n_merge_firm",
      "name": "Merge Firm Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300],
      "parameters": {
        "jsCode": "const firmsRaw = $input.item.json;\nconst firms = Array.isArray(firmsRaw) ? firmsRaw : [firmsRaw];\nconst firm = firms[0] || {};\nconst payload = $('Extract Payload').item.json;\nreturn [{\n  json: {\n    ...payload,\n    firm_whatsapp_phone: firm.whatsapp_phone,\n    firm_wa_phone_number_id: firm.wa_phone_number_id,\n    firm_wa_access_token: firm.wa_access_token\n  }\n}];"
      }
    },
    {
      "id": "n_send_wa_firm_owner",
      "name": "Send WA to Firm Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1350, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.firm_wa_phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.firm_wa_access_token }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "body": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.firm_whatsapp_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🔔 {{ $json.title }}\\n\\n{{ $json.body }}\" }\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Notification Webhook": {
      "main": [
        [
          {"node": "Respond 200 OK", "type": "main", "index": 0},
          {"node": "Extract Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [{"node": "Save Notification to DB", "type": "main", "index": 0}]
      ]
    },
    "Save Notification to DB": {
      "main": [
        [{"node": "Get Firm", "type": "main", "index": 0}]
      ]
    },
    "Get Firm": {
      "main": [
        [{"node": "Merge Firm Data", "type": "main", "index": 0}]
      ]
    },
    "Merge Firm Data": {
      "main": [
        [{"node": "Send WA to Firm Owner", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "wf-005",
  "meta": {
    "instanceId": "wf-005-firm-notifications"
  }
}
